<% include header %>
            
     <div class="jumbotron">
        <h1>KVote</h1>
        <p class="lead">Create custom polls and share with the world!</p>
        <p>
          <a class="btn btn-lg btn-success" href="/login/twitter" role="button">Login with Twitter</a>
          OR
          <a class="btn btn-lg btn-success" href="/pollList" role="button">Go to Polls</a>
        </p>
      </div>

      
<% include footer %>
