<% include header %>


<div class="well" ng-controller="PollChartCtrl as pcc">
  <h3>{{question}}</h3>  
  <canvas id="bar" class="chart chart-pie"
    chart-click="addVote"
    chart-legend="true"
    chart-data="data" chart-labels="labels">
  </canvas>
  
<!--  <h5>Data:</h5>-->
  <table class="table">
    <tr>
      <th>Option</th>
      <th>Votes</th>
    </tr> 
    <tr ng-repeat="data in rawData">
      <td>{{data.option}}</td>
      <td>{{data.vote}}</td>
      <td>
        <button ng-click="addVote(data)"
           type="button" class="btn btn-default btn-sm" 
           href="/poll/{{poll._id}}" target="_blank">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"> Vote
        </button>          
      </td>
    </tr>
  </table>
</div>


<% include footer %>
